POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres
DATABASE_SYNC_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/postgres
DATABASE_TEST_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/postgres_db_test

SECRET_KEY=change-me
ALGORITHM=RS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30